//RESETS
@import 'reset';
$main_color: #ED1B2E;

.appView {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    &__rightSide {
        display: flex;
        width: 50%;
        border: 1px solid red;
        height: 420px;
        padding: 10px;
        justify-content: center;
    }
    &__leftSide {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 50%;
        border: 1px solid blue;
        height: 420px;
        padding: 10px;
        align-items: center;
        
        input[name="search-bar"] {
        font-family: "FontAwesome";
        }
        .leftButtons {
            width: 32px;
            height: 32px;
            margin-right: 5px;
            display: inline-block;
        }
        #buttons {
            align-self: flex-start;
            margin-left: 23px;
            margin-top: auto;
            height: 40px;
        }
        #books {
            background-image: url("../img/contacts.png");
            margin: 0;
            padding: 0;
            transition: all 0.1s ease-in-out;
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
            &:active {
                transform: rotate(8deg);
            }
        }
       
        .listBooks {
            background: tomato;
            padding: 5px 10px;
            margin: 3px;
            color: #fff;
            text-shadow: 2px 2px #666;
            border-radius: 5px;
            transition: all 0.1s ease-in-out;
            &:hover {
                background: #EE6347;
                cursor: pointer;
            }
            &:active {
                transform: scale(0.97);
            }
        }
        
    }
    h1 {
        flex-grow: 1;
        text-align: center;
        font-size: 34px;
        font-family: "PT Sans Narrow";
        border: 2px solid green;
            span {
            color: $main_color;
            }
    }
    &__contentRight {
    padding: 10px;
    line-height: 1.4em;
    border: 1px solid brown;
}
    &__contentLeft {
    border: 1px solid black;
    overflow: auto;
    max-height: 340px;
    max-width: 310px;
    padding: 10px;
    line-height: 1.4em;
}
    &__search-bar {
    align-self: flex-start;
    margin: 0 auto;
    margin-bottom: 10px;
    }

}



/*
overflow: hidden;
text-overflow: eliipsis;
white-space: nowrap;
*/