//RESETS
@import 'reset';
$main_color: #ED1B2E;

.appView {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    &__rightSide {
        display: flex;
        flex-direction: column;
        width: 50%;
        border: 1px solid red;
        height: 460px;
        padding: 10px;
        // justify-content: center;
        .leftSideButtons {
            align-self: flex-start;
            margin-top: auto;
            margin-left: 23px;
            height: 40px;
        }
        .editButton {
        color: tomato;
        transition: all 0.1s ease;
    }
        .editButton:hover {
        transform: scale(1.1);
        opacity: 0.9;
    }
    .addNewEntryForm {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        #addNewEntryButton {
            margin-top: 10px;
            width: 50%;
            align-self: center;
        }
    }
    }
    &__leftSide {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 50%;
        border: 1px solid blue;
        height: 460px;
        padding: 10px;
        align-items: center;
        
        input[name="search-bar"] {
        font-family: "FontAwesome";
        }
        .leftButtons {
            width: 32px;
            height: 32px;
            margin-right: 5px;
            display: inline-block;
        }
        #buttons {
            align-self: flex-start;
            margin-left: 23px;
            margin-top: auto;
            height: 40px;
        }
        #books {
            background-image: url("../img/addressbook.ico");
            background-size: cover;
            margin: 0;
            padding: 0;
            transition: all 0.1s ease-in-out;
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
            &:active {
                transform: rotate(8deg);
            }
        }
        #delete {
            background-image: url("../img/addressbook_remove.ico");
            background-size: cover;
            transition: all 0.1s ease;
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
            &:active {
                transform: rotate(8deg);
            }
        }
        #addNew {
            background-image: url("../img/addressbook_add.ico");
            background-size: cover;
            transition: all 0.1s ease;
            margin-right: 10px;
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
            &:active {
                transform: rotate(8deg);
            }
        }
       
        .listBooks {
            background: tomato;
            padding: 5px 10px;
            margin: 3px;
            color: #fff;
            text-shadow: 2px 2px #666;
            border-radius: 5px;
            transition: all 0.1s ease-in-out;
            &:hover {
                background: #EE6347;
                cursor: pointer;
            }
            &:active {
                transform: scale(0.97);
            }
        }
        
    }
    h1 {
        flex-grow: 1;
        text-align: center;
        font-size: 34px;
        font-family: "PT Sans Narrow";
        border: 2px solid green;
            span {
            color: $main_color;
            }
    }
    &__contentRight {
    min-width: 280px;
    padding: 10px;
    line-height: 1.4em;
    border: 1px solid brown;
    overflow: auto;
    margin-bottom: 5px;
    .entryInfo {
        border: 1px solid blue;
        margin-bottom: 5px;
    }
    .entryAddress {
        border: 1px solid green;
        .toggleAddress {
            border: 1px solid tomato;
            min-height: 20px;
        }
        i {
            float: right;
            margin-top: 4px;
            margin-right: 4px;
            transition: all 0.2s ease;
        }
        .rotateArrow {
            transform: rotate(180deg);
        }
        span {
            font-size: 12px;
            float: right;
            margin-right: 3px;
            border: 1px solid green;
        }
    }
    .entryPhone {
        border: 1px solid purple;
        margin: 10px 0;
    }
    .entryEmail {
        border: 1px solid pink;
        margin: 10px 0;
    }
    .addEntryData {
        border-bottom: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #086BA0;
        span {
            margin-left: 10px;
        }
        select {
          flex-shrink: 1
        }
    }
    .addButtonEntry {
        border-radius: 5px;
        width: 20%;
        margin: 15px 0;
        background: #6AE200;
        color: #222;
        border: 1px solid #222;
        box-shadow: 1px 1px 3px #222;
        transition: all 0.2s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
    .addButtonEntryDelete {
        background: tomato;
        margin-left: 5px;
    }
    .addressForm {
        display: flex;
        flex-wrap: wrap;
        select {
            flex-basis: 100%;
            margin: 0 70px;
        }
        span {
            display: inline-block;
            width: 60px;
        }
        input {
            width: 165px;
        }
    }
    .addEditBtn {
        display: flex;
        width: 60%;
        justify-content: center;
    }
}
    &__contentLeft {
    border: 1px solid black;
    overflow: auto;
    max-height: 340px;
    max-width: 310px;
    padding: 10px;
    line-height: 1.4em;
    .entryList {
        background: tomato;
            padding: 5px 10px;
            margin: 3px;
            color: #fff;
            text-shadow: 2px 2px #666;
            border-radius: 5px;
            transition: all 0.1s ease-in-out;
            &:hover {
                background: #EE6347;
                cursor: pointer;
            }
            &:active {
                transform: scale(0.97);
            }
    }
}
    &__search-bar {
    align-self: flex-start;
    margin: 0 auto;
    margin-bottom: 10px;
    }

}



/*
overflow: hidden;
text-overflow: eliipsis;
white-space: nowrap;
*/