html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.appView {
  display: flex;
  justify-content: center;
  padding-top: 50px; }

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 700px; }
  .app__rightSide {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid red;
    height: 460px;
    padding: 10px; }
    .app__rightSide .leftSideButtons {
      align-self: flex-start;
      margin-top: auto;
      margin-left: 23px;
      height: 40px; }
    .app__rightSide .editButton {
      color: tomato;
      transition: all 0.1s ease; }
    .app__rightSide .editButton:hover {
      transform: scale(1.1);
      opacity: 0.9; }
    .app__rightSide .addNewEntryForm {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; }
      .app__rightSide .addNewEntryForm #addNewEntryButton {
        margin-top: 10px;
        width: 50%;
        align-self: center; }
  .app__leftSide {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    border: 1px solid blue;
    height: 460px;
    padding: 10px;
    align-items: center; }
    .app__leftSide input[name="search-bar"] {
      font-family: "FontAwesome"; }
    .app__leftSide .leftButtons {
      width: 32px;
      height: 32px;
      margin-right: 5px;
      display: inline-block; }
    .app__leftSide #buttons {
      align-self: flex-start;
      margin-left: 23px;
      margin-top: auto;
      height: 40px; }
    .app__leftSide #books {
      background-image: url("../img/addressbook.ico");
      background-size: cover;
      margin: 0;
      padding: 0;
      transition: all 0.1s ease-in-out; }
      .app__leftSide #books:hover {
        transform: scale(1.1);
        cursor: pointer; }
      .app__leftSide #books:active {
        transform: rotate(8deg); }
    .app__leftSide #delete {
      background-image: url("../img/addressbook_remove.ico");
      background-size: cover;
      transition: all 0.1s ease; }
      .app__leftSide #delete:hover {
        transform: scale(1.1);
        cursor: pointer; }
      .app__leftSide #delete:active {
        transform: rotate(8deg); }
    .app__leftSide #addNew {
      background-image: url("../img/addressbook_add.ico");
      background-size: cover;
      transition: all 0.1s ease;
      margin-right: 10px; }
      .app__leftSide #addNew:hover {
        transform: scale(1.1);
        cursor: pointer; }
      .app__leftSide #addNew:active {
        transform: rotate(8deg); }
    .app__leftSide .listBooks {
      background: tomato;
      padding: 5px 10px;
      margin: 3px;
      color: #fff;
      text-shadow: 2px 2px #666;
      border-radius: 5px;
      transition: all 0.1s ease-in-out; }
      .app__leftSide .listBooks:hover {
        background: #EE6347;
        cursor: pointer; }
      .app__leftSide .listBooks:active {
        transform: scale(0.97); }
  .app h1 {
    flex-grow: 1;
    text-align: center;
    font-size: 34px;
    font-family: "PT Sans Narrow";
    border: 2px solid green; }
    .app h1 span {
      color: #ED1B2E; }
  .app__contentRight {
    min-width: 280px;
    padding: 10px;
    line-height: 1.4em;
    border: 1px solid brown;
    overflow: auto;
    margin-bottom: 5px; }
    .app__contentRight .entryInfo {
      border: 1px solid blue;
      margin-bottom: 5px; }
    .app__contentRight .entryAddress {
      border: 1px solid green; }
      .app__contentRight .entryAddress .toggleAddress {
        border: 1px solid tomato;
        min-height: 20px; }
      .app__contentRight .entryAddress i {
        float: right;
        margin-top: 4px;
        margin-right: 4px;
        transition: all 0.2s ease; }
      .app__contentRight .entryAddress .rotateArrow {
        transform: rotate(180deg); }
      .app__contentRight .entryAddress span {
        font-size: 12px;
        float: right;
        margin-right: 3px;
        border: 1px solid green; }
    .app__contentRight .entryPhone {
      border: 1px solid purple;
      margin: 10px 0; }
    .app__contentRight .entryEmail {
      border: 1px solid pink;
      margin: 10px 0; }
    .app__contentRight .addEntryBirthday {
      border-bottom: 1px solid #666;
      color: #086BA0; }
    .app__contentRight .addEntryPhones {
      border-bottom: 1px solid #666;
      color: #086BA0; }
    .app__contentRight .addEntryEmail {
      border-bottom: 1px solid #666;
      color: #086BA0; }
    .app__contentRight .addEntryAddresses {
      border-bottom: 1px solid #666;
      color: #086BA0; }
    .app__contentRight .addButtonEntry {
      border-radius: 50%;
      margin: 15px 0;
      background: #6AE200;
      color: #222;
      border: 1px solid #222;
      box-shadow: 1px 1px 3px #222;
      transition: all 0.2s ease; }
      .app__contentRight .addButtonEntry:hover {
        transform: scale(1.1); }
  .app__contentLeft {
    border: 1px solid black;
    overflow: auto;
    max-height: 340px;
    max-width: 310px;
    padding: 10px;
    line-height: 1.4em; }
    .app__contentLeft .entryList {
      background: tomato;
      padding: 5px 10px;
      margin: 3px;
      color: #fff;
      text-shadow: 2px 2px #666;
      border-radius: 5px;
      transition: all 0.1s ease-in-out; }
      .app__contentLeft .entryList:hover {
        background: #EE6347;
        cursor: pointer; }
      .app__contentLeft .entryList:active {
        transform: scale(0.97); }
  .app__search-bar {
    align-self: flex-start;
    margin: 0 auto;
    margin-bottom: 10px; }

/*
overflow: hidden;
text-overflow: eliipsis;
white-space: nowrap;
*/

/*# sourceMappingURL=app.css.map */
